.container{
    border: 1px solid red;
    height: 1000px;
    padding-top: 50px;
    display: flex;
    justify-content:center ;
    flex-direction: column;


}
.container-header{
    border: 1px solid blue;
    width: 500px;
    height: 200px;
    margin: 0 auto;
}
.container-center{
    border: 1px solid green;
    width: 500px;
    height: 200px;
    margin: 0 auto;
}