/* reset */
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
/* section1 img proporties */
#container-img {
  border: 1px solid red;
  font-family: "Montserrat", sans-serif;
  background-image: url(/picture/sectıon1pıct.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: relative;
}
/*section1-nav-header */
.container-img-header {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  padding: 0px 15px;
  margin-top: 5em;
  position: relative;
}
.container-img-header a {
  text-decoration: none;
}
.container-img-header a h1 {
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
  font: 300 50px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container-img-header button {
  border: 2px solid white;
  background-color: black;
  border-radius: 5px;
  width: 37px;
  height: 37px;
  font-size: 14px;
  margin: auto 0px;
}
.container-img-header button a i {
  color: white;
}
/* section1-dropdown */
.container-img-header button ul {
  position: absolute;
  right: 40%;
  left: 40%;
  position: fixed;
  top: 150px;
  display: none;
}
.container-img-header button ul li {
  list-style-type: none;
  margin-bottom: 50px;
}
.container-img-header button ul li a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-weight: 300;
  text-transform: capitalize;
}
/* section1-body */
.container-img-body {
  border: 1px solid white;
  height: 800px;
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
}
.container-img-body-user {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  margin: 350px 15px 0px;
  font-size: 3.9em;
  color: white;
}
.container-img-body-user h4 {
  font-size: 100px;
  font-weight: 200px;
  letter-spacing: 3px;
}
.container-img-body-work {
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 16px 0px;
  color: white;
}
.container-img-body-user a {
  color: white;
  text-decoration: none;
}
.container-img-body-user a i {
  font-weight: 100;
}
.container-img-body-user h4 {
  font-size: 60px;
  font-weight: 400px;
}
/* sectin2 personal information */
#container-information {
  padding-top: 3.9em;
  margin-bottom: 300px;
}
.container-information-box {
  height: 469px;
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.container-information-box-left img {
  border: 20px solid black;
  width: 380px;
  height: 429px;
}
.container-information-box-right {
  width: 100%;
  height: 469px;
  position: relative;
}
.container-information-box-right-name {
  width: 90%;
  height: 15%;
  box-shadow: 5px 5px 30px darkgray;
  padding: 32px 32px;
}
.container-information-box-right-name h1 {
  font: 600 35px monospace;
  letter-spacing: 3px;
  padding-bottom: 9px;
}
.container-information-box-right-name h4 {
  font: 500 25px monospace;
  letter-spacing: 2px;
}
.container-information-box-right p {
  font: 15px monospace;
  line-height: 31px;
  letter-spacing: 1px;
  margin-left: 30px;
  margin-top: 45px;
}
.container-information-box-right a {
  padding: 8px 14px;
  display: inline-block;
  font: 600 12px;
  background-color: #00c4ff;
  border: 1px solid #00c4ff;
  color: white;
  margin: 20px 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container-information-box-right-sosial {
  display: flex;
  position: absolute;
  bottom: 5px;
  left: 30px;
}
.container-information-box-right-sosial a {
  border:1px solid black;
  border-radius: 50%;
  background-color: black;
  margin:0px 5px 0px 0px;  
  
}


