/* reset */

p,
li,
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
 font-family: 'Montserrat', sans-serif;
  
}
/* section1 img proporties */
#container {
  border: 1px solid black;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-image: url(/picture/sectıon1pıct.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  position: relative;
}
/*section1-nav-header */
.container-header {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  padding: 0px 15px;
  margin-top: 5em;
  position: relative;
}
.intro{
  text-decoration: none;
}
.intro h1 {
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
  font: 300 50px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container-header-btn{
  border: 2px solid white;
  background-color: black;
  border-radius: 5px;
  width: 37px;
  height: 37px;
  font-size: 14px;
  margin: auto 0px;
  
}
.info-bar{
  color: white;
}

/* section1-dropdown */
.dropdown{
  border: 1px solid white;
  position: absolute;
  right: 40%;
  left: 40%;
  position: fixed;
  top: 150px;
  display: none;
  
}
.info-bar-list {
  list-style-type: none;
  margin-bottom: 45px;
  text-align: center;
}
.info-bar-list a {
  color: white;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
}
/* section1-body */ 
.container-body-user {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  font-size: 3.9em;
  color: white;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 50%;
  bottom: -50px; 
}
.container-body-user h4 {
  font-size: 100px;
  font-weight: 200px;
  letter-spacing: 3px;
}
.container-body-work  {
  padding: 16px 0px;
  color: white;
  position: relative;
  text-align: center;
  top: 43%;
}
.container-body-work span{
  letter-spacing: 3px;
  font:400 20px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.icon{
  color: white;
  text-decoration: none;
}
.icon i{
  font-weight: 100;
}
.container-body-user h4 {
  font-size: 60px;
  font-weight: 400px;
}
/* sectin2 personal information */
#container-information {
  padding-top: 3.9em;
  
}
.container-information-box {
  height: 469px;
  width: 70%;
  margin: 0 auto auto 190px;
  display: flex;
}

.box-left img {
  border: 20px solid black;
  width: 380px;
  height: 429px;
}
.box-right {
  width: 100%;
  height: 469px;
  position: relative;
}
.box-right-name {
  width: 90%;
  height: 15%;
  box-shadow: 5px 5px 30px darkgray;
  padding: 32px 32px;
}
.box-right-name h1 {
  font: 600 35px monospace;
  letter-spacing: 3px;
  padding-bottom: 9px;
}
.box-right-name h4 {
  font: 500 25px monospace;
  letter-spacing: 2px;
}
.box-right p {
  font: 15px monospace;
  line-height: 31px;
  letter-spacing: 1px;
  margin-left: 30px;
  margin-top: 45px;
}
.box-right a {
  padding: 8px 14px;
  display: inline-block;
  font: 600 12px;
  background-color: #00c4ff;
  border: 1px solid #00c4ff;
  color: white;
  margin: 20px 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.box-right-sosial {
  display: flex;
  position: absolute;
  bottom: 5px;
  left: 30px;
}
.box-right-sosial a {
  border:1px solid black;
  border-radius: 50%;
  background-color: black;
  margin:0px 5px 0px 0px;  
  
}
/* section3 personal data */
.personal-data-grid{
  height: 439px;
  width: 73%;
  margin: 25px auto auto 190px;
  display: grid;
  grid-template-columns: 43% 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px;
  
  
}
/* box white */
.personal-data-grid :nth-child(1){
  display: grid;
  grid-row: 1/3;
  position: relative;
  
    
}
.data-header h1{
font:600 40px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
letter-spacing: 3px;
margin-left: 20px;
margin-bottom: 10px;

}
.container-data{
  display: flex;
  margin-bottom: 240px;
  margin-left: 10px;
}
.data-list-first{
  margin-right: 20px;

}
.data-list-first li{
  font-weight: bold;
  margin-bottom: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}
.data-list-second li{
  font-weight: 50; 
  margin-bottom: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.link{
  display: flex;
  position: absolute;
  left: 10px;
  bottom: 40px;
}
.link a{
  border: 2px solid #00c4ff;
  background-color: #00c4ff;
  color: white;
  display: flex;
  align-items: center;
  padding: 8px;
  margin-right: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  
}
.link a:hover{
  background-color: black;
}
/* box blue */
.box-blue{
  background-color: #00c4ff;
  
}
.box-blue i{ 
  margin-top: 35px;
  margin-left: 40px;
  color: white;
  font-size: 40px;
  font-weight: 100;
}
.box-blue h4{
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: white;
  margin-top: 20px;
  margin-left: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.box-blue p{
  line-height: 25px;
  margin-top: 10px;
  margin-left: 40px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 2px;
}
.box-blue p{
  position: relative;
}

/* box orange */
.box-orange{
  background-color: #fb8a2e;
}
.box-orange i{
  margin-top: 35px;
  margin-left: 40px;
  color: white;
  font-size: 40px;
  font-weight: 100;
  
}
.box-orange h4{
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: white;
  margin-top: 20px;
  margin-left: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box-orange p{
  line-height: 25px;
  margin-top: 10px;
  margin-left: 40px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 2px;
}
/* section 4 services */

 .background{
   width: 100%;
   height: 750px;
   background-image: url(/picture/s1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 50px;
   margin-top: 75px;
   
   
 } 
.service-grid{
  width: 74%;
  height: 675px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 670px;
  grid-template-rows: 1fr 2fr 2fr 2fr ;
  gap: 30px;
  
} 
.service-header{
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  color: white;
  font:100 55px 'Montserrat', sans-serif;
  letter-spacing: 2px;
}
.service-blue{
  background-color: #00c4ff;
  
}
.service-blue i{
  color: white;
  font-size: 35px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.service-blue span{
  display: block;
  text-align: center;
  font-size: 22px;
  letter-spacing: 5px;
  padding-top: 15px;
}
.service-blue h4{
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 15px;
  color: white;
}
.service-orange{
  background-color: #fb8a2e;
}
.service-orange i{
  color: white;
  font-size: 35px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.service-orange span{
 display: block;
  text-align: center;
  font-size: 22px;
  letter-spacing: 5px;
  padding-top: 15px; 
}
.service-orange h4{
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 15px;
  color: white;
}

.service-white{
  grid-column: 3/4;
  grid-row: 2/5;
  background-color: white;
  padding: 30px 30px 30px 60px;
  
}
.white-row{
  display: flex;
  
}
.white-row a{
  border-left:5px solid #fb8a2e;
  background-color: #00c4ff;
  color: white;
  font:700 21px 'Montserrat', sans-serif;
  width: 52px;
  height: 53px;
  border-radius: 50%;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 80px;
  
  

} 
.row-text{
  margin-left: 50px;
 
}
.row-text h3{
  font:600 23px 'Montserrat', sans-serif;
  letter-spacing: 2px;
  line-height:40px ;
 
  
  
}
.row-text p{
  font:100 15px 'Montserrat', sans-serif;
  line-height: 28px;
  letter-spacing: 2px;
}

.service-grid :nth-child(7){
  grid-column: 1/3;
  grid-row: 4/5;
}
.white-row:hover .row-link{
  background-color: black;
}
/* section 5 eucation */
#education{
  width: 100%;
  height: 700px;
}
.education-grid{
  width: 75%;
  height: 600px;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 25px;
  column-gap: 100px;
  margin: 70px auto;
}
.edu-white{
  grid-column: 1/2;
  grid-row: 1/5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edu-white h1{
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 600;
  
}
.edu-blue{
  background-color: #00c4ff;
  
}
.edu-blue span{
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
  color:white;
  line-height: 1;
  display: block;
  margin: 30px auto 10px 30px;
}
.edu-blue h3{
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0 auto 10px 30px;
}
.edu-blue p{
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: white;
  margin: 0 auto 30px 30px;
}
.edu-orange{
  background-color: #fb8a2e;
  box-shadow: 10px 10px 40px 12px rgb(131, 128, 128);
}
.edu-orange span{
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
  color:white;
  line-height: 1;
  display: block;
  margin: 30px auto 10px 30px;
}
.edu-orange h3{
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0 auto 10px 30px;
}
.edu-orange p{
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: white;
  margin: 0 auto 30px 30px;
}
/* section 6 experience */
#experience{
  width: 100%;
  height: 700px;
}
.exp-grid{
  width: 73%;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 25px;
  column-gap: 100px;
  margin: 10px auto;
}
.exp-white{
  grid-column: 2/3;
  grid-row: 1/5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exp-white h1{
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 600;
  
}
.exp-blue{
  background-color: #00c4ff;
  
}
.exp-blue span{
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
  color:white;
  line-height: 1;
  display: block;
  margin: 30px auto 10px 30px;
}
.exp-blue h3{
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0 auto 10px 30px;
}
.exp-blue p{
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: white;
  margin: 0 auto 30px 30px;
}
.exp-orange{
  background-color: #fb8a2e;
  box-shadow: 10px 10px 40px 12px rgb(131, 128, 128);
}
.exp-orange span{
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
  color:white;
  line-height: 1;
  display: block;
  margin: 30px auto 10px 30px;
}
.exp-orange h3{
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0 auto 10px 30px;
}
.exp-orange p{
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: white;
  margin: 0 auto 30px 30px;
}
/* section 7 gallery */
#gallery {
  width: 100%;
  height: 700px;
  background-color: #00c4ff;
  padding-bottom: 90px;
}
.gallery-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 30px;
  width: 74%;
  height: 720px;
  margin: 0 auto;
  

 
}
.gallery-grid :nth-child(n){
  background-color: white;
}
.gall-head{
  grid-column: 1/5;
  background-color: #00c4ff !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gall-head span{ 
  background-color: #00c4ff !important;
  color: white;
  font-size: 55px;
  font-weight:100;
  letter-spacing: 2;
  box-sizing: border-box;
  margin-top: 50px;

}
.picture{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* section 8 contact */






/* .title-data h1{
text-align: center;

}
.form-data{
  display: flex;
}
.form-data{
  display: flex;
  justify-content: center;
}
#text, #tel, #email{
  padding: 15px;
   width: 40em;
  
}
.message {
  display: flex;
  justify-content: center;
}
.send{
  display: flex;
  justify-content: center;
}
#send{
  width: 89em;
  padding: 12px;
  background-color: black;
  color: white;
}
#send :hover{
  font-size: 15px;
  color: #00c4ff;
} */
#contact{
  width: 100%;
  height: 525px;
  padding: 75px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.contact-grid{
  width: 75%;
  height: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 20px;
  
  
  
}
.contact-grid div{
  display: flex;
  align-items: center;
  justify-content: center;
  
}    

.header-contact{
  grid-column: 1/3;
  grid-row: 1/2;

}
.header-contact h1{
  text-align: center;
  font-size: 55px;
  letter-spacing: 1;
  font-weight: 100;
  
}
 .text {
  padding: 15px;
  width: 100%;
}
.message{
  grid-column: 1/3;
  grid-row: 4/5;
  width: 100%;
}
.send{
  grid-column: 1/3;
  grid-row: 5/6;
  
}
#send{
  width: 100%;
  padding: 13px 0;
  color: white;
  background-color: black;
}
  






