#port{
    border: 1px solid red;
    background-color: rgb(119, 101, 161);
}
.port-box{
    border: 1px solid blue;
    width: 1200px;
    margin: 0px auto;
}
.port-box-head{
    text-align: center;
    color: white;
}
.port-box-body{
    border: 1px solid green;
    width: 1000px;
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr 1fr;
    gap: 5px;
    margin: 0 auto;
}
.port-box-body div{
    border: 1px solid brown;
    
}
.port-box-body :nth-child(3){
    display: grid;
    grid-column-end: 2;
    grid-column-end: 3;
    grid-row-start: 1;  
    grid-row-end: 3;
    height: 400px;
}
.port-box-body div img{
    width: 100%;
    height: 100%;
}