{% extends 'admin/base.html' %} {% block adminPages %}

<div class="container">
  <div class="row">
    <h1>experience section</h1>
    <div class="col-12">
      <h1>experience</h1>
      <h2>Melumatlari daxil et:</h2>
      <form
        action="/admin/experience"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="my-3">
          <input
            type="text"
            class="form-control"
            placeholder="title"
            name="exp_title"
          />
        </div>
        <div class="my-3">
          <input
            type="text"
            class="form-control"
            placeholder="first-head"
            name="first_head"
          />
        </div>
        <div class="my-3">
          <input
            type="text"
            class="form-control"
            placeholder="first-year"
            name="first_year"
          />
        </div>
        <div class="my-3">
          <input
            type="text"
            class="form-control"
            placeholder="first-info"
            name="first_info"
          />
        </div>
        <div class="my-3">
          <input
            type="text"
            class="form-control"
            placeholder="second-head"
            name="second_head"
          />
        </div>
        <div class="my-3">
          <input
            type="text"
            class="form-control"
            placeholder="second-year"
            name="second_year"
          />
        </div>
        <div class="my-3">
          <input
            type="text"
            class="form-control"
            placeholder="second info"
            name="second_info"
          />
        </div>
        <div class="my-3">
          <input
            type="text"
            class="form-control"
            placeholder="third head"
            name="third_head"
          />
        </div>
        <div class="my-3">
          <input
            type="text"
            class="form-control"
            placeholder="third year"
            name="third_year"
          />
        </div>
        <div class="my-3">
          <input
            type="text"
            class="form-control"
            placeholder="third info"
            name="third_info"
          />
        </div>
        <div class="my-3">
          <input
            type="text"
            class="form-control"
            placeholder="fourth head"
            name="fourth_head"
          />
        </div>
        <div class="my-3">
          <input
            type="text"
            class="form-control"
            placeholder="fourth year"
            name="fourth_year"
          />
        </div>
        <div class="my-3">
          <input
            type="text"
            class="form-control"
            placeholder="fourth info"
            name="fourth_info"
          />
        </div>
        <div>
          <input type="submit" class="btn btn-primary" value="new-data" />
        </div>
      </form>
    </div>
    <h1>Yuklenen butun sekiller ve melumatlar</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">title</th>
          <th scope="col">first head</th>
          <th scope="col">first year</th>
          <th scope="col">first info</th>
          <th scope="col">second head</th>
          <th scope="col">second year</th>
          <th scope="col">second info</th>
          <th scope="col">third head</th>
          <th scope="col">third year</th>
          <th scope="col">third info</th>
          <th scope="col">fourth head</th>
          <th scope="col">fourth year</th>
          <th scope="col">fourth info</th>
        </tr>
      </thead>
      <tbody>
        {% for exp_info in exp_infos %}
        <tr>
          <th scope="row">{{exp_info.s_id}}</th>
          <td>{{exp_info.exp_title}}</td>
          <td>{{exp_info.first_head}}</td>
          <td>{{exp_info.first_year}}</td>
          <td>{{exp_info.first_info}}</td>
          <td>{{exp_info.second_head}}</td>
          <td>{{exp_info.second_year}}</td>
          <td>{{exp_info.second_info}}</td>
          <td>{{exp_info.third_head}}</td>
          <td>{{exp_info.third_year}}</td>
          <td>{{exp_info.third_info}}</td>
          <td>{{exp_info.third_head}}</td>
          <td>{{exp_info.third_year}}</td>
          <td>{{exp_info.third_info}}</td>
          <td>{{exp_info.fourth_head}}</td>
          <td>{{exp_info.fourth_year}}</td>
          <td>{{exp_info.fourth_info}}</td>
          <td>
            <a
              class="btn btn-primary"
              href="/admin/experience/delete/{{exp_info.s_id}}"
              >delete</a
            >
            <a class="btn btn-primary" href="#">update</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {%endblock%}
  </div>
</div>
